<div class="navbar-default sidebar" role="navigation" >
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li class="sidebar-search ng-isolate-scope">
                <div class="input-group custom-search-form">
                    <input class="form-control" placeholder=" {{'app.layout.directives.sidebar.search-bar' | translate}} " type="text">
                    <span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						</span>
                </div>
            </li>

            <!-- Moussa NDIAYE -->
            <li ng-class="{active: collapseVar==8}" class="ng-binding">
                <a href="" ng-click="check(8)">
                    <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.Gestions.autorisations"| translate}}<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=8" style="height: 0px;" aria-expanded="false" aria-hidden="true">
                    <li ui-sref-active="active"><a ui-sref="dashboard.formulaireDeDemande"  href="#/gestion-des-autorisations/formulaire-de-demande"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.formulaire.demande"| translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboard.authorisation" href="#/gestion-des-autorisations/liste-des-demandes"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.liste.demande"| translate}}</a></li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.authorisations" href="#/gestion-des-autorisations/toutes-les-demandes">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.toutes.demandes"| translate}}
                        </a>
                    </li>
                </ul>

            </li>

            <li class="ng-binding" ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">
                    <i class="fa fa-bank" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.Gestion.ressources" | translate}}
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=2" style="height: 0px;">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.equipement" href="#/Gestion-des-ressources/Liste-des-equipements"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.liste.equipements" | translate}}<span class="fa arrow"></span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.AjoutEquipement" href="#/Gestion-des-ressources/formulaire-equipement"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.ressources.equipement.formulaire"| translate}}</a>
                    </li>
                </ul>
            </li>
            <!-- Moussa NDIAYE -->
        </ul>
    </div>

</div>