<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li class="sidebar-search ng-isolate-scope">
                <div class="input-group custom-search-form">
                    <input class="form-control" placeholder=" {{'app.layout.directives.sidebar.search-bar' | translate}}" type="text">
                    <span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						</span>
                </div>
            </li>
            <li ng-class="{active: collapseVar==5}" class="ng-binding active">
                <a href="" ng-click="check(5)">
                    <i class="fa fa-folder-open fa-fw"></i>&nbsp;{{"app.layout.directives.sidebar.record" | translate}}
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level in collapse" uib-collapse="collapseVar!=5" style="" aria-expanded="true" aria-hidden="false">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.record" href="#/dashboard/dossier/creation/">{{"app.layout.directives.sidebar.record.create" | translate}} </a>
                    </li>
                    <li ui-sref-active="active" class="active">
                        <a ui-sref="dashboard.search-record" href="#/dashboard/dossier/search-record">{{"app.layout.directives.sidebar.record.search" | translate}}</a>
                    </li>
                    <li ui-sref-active="active" class="active">
                        <a ui-sref="dashboard.record-list" href="#/dashboard/dossier/liste">{{"app.layout.directives.sidebar.record.list" | translate}}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="#">{{"app.layout.directives.sidebar.record.control" | translate}}</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==7}" class="ng-binding">
                <a href="" ng-click="check(7)">
                    <i class="fa fa-bank"></i>&nbsp;{{"app.layout.directives.sidebar.campaign" | translate}}
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=7" style="height: 0px;" aria-expanded="false" aria-hidden="true">
                    <li ui-sref-active="active">
                        <a ui-sref="#">{{"app.layout.directives.sidebar.campaign.initialize" | translate}}</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <!-- Moussa NDIAYE -->
            
            <li ng-class="{active: collapseVar==8}" class="ng-binding">
                <a href="" ng-click="check(8)">
                    <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.Gestions.autorisations"| translate}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=8" style="height: 0px;" aria-expanded="false" aria-hidden="true">
                    <li ui-sref-active="active"><a ui-sref="dashboard.formulaireDeDemande"  href="#/gestion-des-autorisations/formulaire-de-demande"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.formulaire.demande"| translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboard.authorisation" href="#/gestion-des-autorisations/liste-des-demandes"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.liste.demande"| translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboard.authorisations" href="#/gestion-des-autorisations/toutes-les-demandes"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.toutes.demandes"| translate}}</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ng-class="{active: collapseVar==9}" class="ng-binding">
                <a href="" ng-click="check(9)">
                    <i class="fa fa-bank" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.Gestion.ressources"| translate}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=9" style="height: 0px;" aria-expanded="false" aria-hidden="true">
                    <li ui-sref-active="active"><a ui-sref="#"><i class="fa fa-desktop" aria-hidden="true">&nbsp;&nbsp;{{"app.layout.directives.sidebar.liste.equipements"| translate}}</i></i></a></li>
                    <li ui-sref-active="active"><a ui-sref="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp;{{"app.layout.directives.sidebar.liste.localisations"| translate}}</i></a></li>
                    <li ui-sref-active="active"><a ui-sref="#"><i class="fa fa-link" aria-hidden="true">&nbsp;&nbsp;{{"app.layout.directives.sidebar.liste.affectations"| translate}}</i></a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

			<!-- Moussa NDIAYE -->
            <li class="ng-binding" ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">
                    <i class="fa fa-bank" aria-hidden="true"></i>&nbsp;&nbsp;{{"app.layout.directives.sidebar.Gestion.ressources" | translate}}
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=2" style="height: 0px;">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.equipement" href="#/Gestion-des-ressources/Liste-des-equipements">{{"app.layout.directives.sidebar.liste.equipements" | translate}}<span class="fa arrow"></span></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.AjoutEquipement" href="#/Gestion-des-ressources/formulaire-equipement">{{"app.layout.directives.sidebar.ressources.equipement.formulaire"| translate}}</a>
                    </li>
                </ul>
            </li>
            <!-- Example to remove if it is unused
            <li class="hide" ui-sref-active="active">
                <a ui-sref="dashboard.home" href="#/dashboard/home">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard
                </a>
            </li>
            <li class="hide" ui-sref-active="active">
                <a ui-sref="dashboard.chart" href="#/dashboard/chart">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Charts
                    <span></span>
                </a>
            </li>
            <li class="hide" ui-sref-active="active">
                <a ui-sref="dashboard.table" href="#/dashboard/table">
                    <i class="fa fa-table fa-fw"></i> Tables
                </a>
            </li>
            <li class="hide" ui-sref-active="active">
                <a ui-sref="dashboard.form" href="#/dashboard/form">
                    <i class="fa fa-edit fa-fw"></i> Forms
                </a>
            </li>
            -->
            <li class="ng-binding" ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)">
                    <i class="fa fa-wrench fa-fw"></i> UI Elements
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=1" style="height: 0px;">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.panels-wells" href="#/dashboard/panels-wells">Panels and Wells</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.buttons" href="#/dashboard/buttons">Buttons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.notifications" href="#/dashboard/notifications">Notifications</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.typography" href="#/dashboard/typography">Typography</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.icons" href="#/dashboard/icons"> Icons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.grid" href="#/dashboard/grid">Grid</a>
                    </li>
                </ul>

            </li>
<!--
            <li class="hide" ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">
                    <i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=2" style="height: 0px;">
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level collapse" uib-collapse="multiCollapseVar!=3" style="height: 0px;">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>
            <li class="hide" ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)">
                    <i class="fa fa-files-o fa-fw"></i> Sample Pages
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" uib-collapse="collapseVar!=4" style="height: 0px;">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'" href="#/dashboard/blank">Blank Page</a>
                    </li>
                    <li>
                        <a ui-sref="login" href="#/login">Login Page</a>
                    </li>
                </ul>

            </li>
            -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>