<meta charset="UTF-8" />
<div class="container" ng-controller="AuthorisationController">
	<fieldset id ="extend" class="extend">
			<h3 >Prolongation de demande d'accès</h3>
			<form method="post" ng-submit="save()" data-toggle="validator" role="form">
				<div class="form-group">
					<input type="hidden" id="id"  ng-model="id"  value="id" />
				</div>
				<div class="form-group">
					<label for="lastName">Nom du collaborateur</label>
					<input type="text" id="lastName" ng-model="lastName" value="{{lastName}}" readonly class="form-control" required />
				</div>
				<div class="form-group">
					<label for="firstName">Prénom du collaborateur</label>
					<input type="text" id="firstName" ng-model="firstName" value="{{firstName}}"  readonly class="form-control" required />
				</div>
				<div class="form-group">
					<label for="dteFinIni">Date de fin initiale</label>
					<input type="date" id="dteFinIni" ng-model="periodEnd"  value="{{periodEnd |date:'yyyy-MM-dd'}}" readonly class="form-control" required />
				</div>
				<div class="form-group">
					<label for="extendedDate">Date de prolongation *</label>
					<input id="extendedDate" type="date" ng-model="extendedDate" value="{{extendedDate |date:'yyyy-MM-dd'}}"  class="form-control" required />
				</div>
				<div class="form-group">
					<label for="emailOpen">Email Open *</label>
					<input id="emailOpen" type="text" ng-model="emailOpen" value="{{emailOpen}}" class="form-control"  readonly required/>
				</div>
				<div class="form-group">
					<label for="projet">Projet</label>
					<input id="projet" type="text" ng-model="projectName"  value="{{projectName}}" class="form-control" />
				</div>
				<div class="form-group">
					<label for="motivation">Motivation de la demande</label>
					<textarea id="motivation" ng-model="motive"  class="form-control">{{motive}}</textarea>
				</div>
				<div class="from-group"></div>
				<button   class="btn btn-primary" data-toggle="modal" data-target="#myExtendModal">Valider </button>&nbsp;&nbsp;&nbsp;
				<input type="reset"  class="btn btn-secondary annuler"  ng-click="cancel()" value="Annuler" readonly />
				</div>
				
				<!-- debut le 03/01/2017 -->
		<div class="modal fade" id="myExtendModal" role="dialog" ng-if="status != 'Acceptée'">
    		<div class="modal-dialog">
    
      <!-- Modal content-->
      			<div class="modal-content">
        			<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title">Prolongation de la demande</h4>
        			</div>
       			 	<div class="modal-body">
         			 	<span>{{text}}</span>

        			</div>
        			<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="cancel()">Fermer</button>
       				 </div>
      			</div>
      
    		</div>
 		 </div>
		<!-- fin le 03/01/2017 -->
				
			</form>
		</fieldset>
		
</div>
